/** For smartphones **/
@media screen and (max-width: 767px),
only screen and (max-device-width: 480px),
only screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
  .spectrans-top {
    background: none;
    padding: 0px 0px 0px 0px; height: auto;
    margin: 0px;
  }
  .inner {
    padding-top: 60px;
  }
  /*.left-image, .right-image {
    width: 100%;
    clear: both;
  }
  .wp1, .wp2, .wp3, .wp4 {
    width: 100%;
  }*/
}
